html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.header,
.section,
.footer {
  display: flex;
  width: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 4rem;
  height: auto;
  margin: 15px 16px;
}
.header__logo img {
  border-radius: 0.3rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 16px;
}
/* Styl dla headera */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
  background-color: rgb(37, 36, 36);
}

/* Ukrycie checkboxa */
#hamburger-toggle {
  display: none;
}

/* Styl dla etykiety */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 100%;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  color: #fff;
  z-index: 2000;
}

/* Styl dla linii hamburgera */
.hamburger__line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Styl zmieniający wygląd linii po zaznaczeniu checkboxa */
#hamburger-toggle:checked + .hamburger .hamburger__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 3px);
}

#hamburger-toggle:checked + .hamburger .hamburger__line:nth-child(2) {
  opacity: 0;
}

#hamburger-toggle:checked + .hamburger .hamburger__line:nth-child(3) {
  transform: rotate(-47deg) translate(7px, -4px);
}

/* Styl dla nawigacji */
.nav {
  display: none;
  position: fixed;
  top: 0px;
  right: 0;
  width: 200px;
  background: black;
  align-items: center;
  justify-content: center;
  padding: 1vh 3vw;
  gap: 3vh;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  border-bottom: 1px solid #ddd;
}

.nav__item:last-child {
  border-bottom: none;
}

.nav__link {
  display: flex;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.nav__link:hover {
  background-color: #f0f0f0;
}

/* Wyświetlanie nawigacji po zaznaczeniu checkboxa */
#hamburger-toggle:checked ~ .nav {
  display: flex;
}

/* Kolejna sprawka do sprawdzenia */

@media (min-width: 650px) {
  .header__container {
    height: 3.5rem;
  }
  .hamburger {
    display: none;
  }

  .header__logo img {
    margin-left: 6.5rem;
    width: 10rem;
  }
  .nav {
    position: relative;
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 3.5rem;
    background: transparent;
    border: none;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  .nav__item {
    margin-left: 20px;
    border: none;
  }
  .nav__link {
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    transition: background-color 0.3s ease;
    border: none;
  }

  .nav__link:hover {
    background-color: #333333;
  }
}

/* PONIEJ DZIAŁA  */
.section--home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 2.4rem; */
  height: 100vh;
  overflow: hidden;
  background: transparent;
  text-align: center;
  z-index: 0;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px #d16565;
  position: relative;
  display: inline-block;
  padding: 0 1rem;
  z-index: 1;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(250, 74, 74);
  width: 0;
  bottom: -5px;
  transition: width 0.6s ease;
}

.title::before {
  left: 5%;
}

.title::after {
  right: 5%;
}

.title:hover::before,
.title:hover::after {
  width: 100%;
}

.highlight {
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
}

.highlight-text {
  display: inline-block;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: rgba(250, 74, 74, 0.9);
  border-radius: 10px;
  margin-top: 1rem;
}

.section__subsection--unique > h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section--unique {
  gap: 0;
  justify-content: space-evenly;
}

.section--home h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 4px #d16565;
}

.section--home a {
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 8px;
}

.title {
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px #d16565;
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(250, 74, 74);
  width: 0;
  bottom: -5px;
  transition: width 0.6s ease;
}

.title::before {
  left: 5%;
}

.title::after {
  right: 5%;
}

.title:hover::before,
.title:hover::after {
  width: 100%;
}

.highlight {
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 1px;
}

.highlight-text {
  display: inline-block;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: rgba(250, 74, 74, 0.9);
  border-radius: 10px;
  margin-top: 1rem;
}

.section {
  background: linear-gradient(180deg, #1a1010, #2a2a2a, #1f1515);
  color: #fff;
  flex-direction: column;
  gap: 3vh;
  /* padding: 2vh 6vw; */
}

.section h2 {
  font-size: 2.6rem;
  text-align: center;
}

.article {
  text-align: center;
}

.article h3 {
  font-size: 1.5rem;
}

.article h4 {
  font-size: 1rem;
}

.article p,
.article a {
  margin-top: 0.6rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.img-container img {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem 0.2rem #eaeaea;
  max-height: 16rem;
  width: 90%;
  object-fit: cover;
}

.section--unique .img-container img {
  max-height: 90%;
}

@media (min-width: 760px) {
  .header__logo {
    width: 2.3rem;
  }

  .section {
    gap: 1vw;
    padding: 2vh 3vw;
  }

  .section__subsection {
    flex: 1 1 0;
  }

  .section__subsection--img {
    flex: 1 0 45%;
    display: flex;
    align-items: center;
  }

  .article h3 {
    font-size: 1.8rem;
  }

  .article h4 {
    font-size: 1.3rem;
  }

  .article p {
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: left;
  }
}

@media (min-width: 960px) {
  .section--home {
    gap: 3vw;
  }
  .section--home h1 {
    font-size: 5rem;
  }

  .img-container--article img {
    max-height: none;
  }

  .section__subsection--article {
    gap: 5vw;
  }

  .section__subsection--article:first-child {
    flex-direction: row;
  }

  .section--unique {
    flex-direction: row;
    gap: 5vw;
  }

  .section__subsection--unique {
    flex: 1 0 45%;
    display: flex;
    flex-direction: column;
  }

  .section__subsection--unique > h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .subsection__content {
    gap: 3vw;
  }

  .img-container--unique {
    width: 100%;
  }
}

@media (min-width: 1460px) {
  .img-container--unique img {
    min-height: 24rem;
  }
}

/* Ogólne style dla sekcji ofert */
.section--offers {
  padding: 2rem 1rem;
}
.offer--basic {
  border: 1px solid white;
}

.section--offers h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #d16565;
}

.offer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.offer {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.offer h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(250, 74, 74);
}

.offer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.offer ul li {
  margin-bottom: 0.5rem;
}

.offer p {
  margin: 1rem 0;
}

/* Kontakt */
.section--contact {
  padding: 2rem;
}

.contact-container {
  display: grid;
  gap: 2rem;
}

.contact-form {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
}

button {
  padding: 0.75rem 1.5rem;
  background: #fa4a4a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #e14040;
}

.contact-map {
  text-align: center;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }

  .contact-map iframe {
    height: 400px;
  }
}

/* Ogólne style dla sekcji */
.section--offers {
  padding: 2rem 1rem;
}

.section--offers h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #d16565;
}

.offer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.offer {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.offer h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(250, 74, 74);
}

.offer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.offer ul li {
  margin-bottom: 0.5rem;
}

.offer p {
  margin: 1rem 0;
}

/* Style dla responsywności */
@media (min-width: 768px) {
  .offer-container {
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
  }

  .offer {
    flex: 1;
    margin: 0 0.5rem;
  }
}

/* contact */
.section--contact {
  padding: 2rem;
}

.contact-container {
  display: grid;
  gap: 2rem;
}

.contact-form {
  background: linear-gradient(180deg, #1a1010, #2a2a2a, #1f1515);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
}
.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
button {
  padding: 0.75rem 1.5rem;
  background: #fa4a4a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #e14040;
}

.contact-map {
  text-align: center;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }

  .contact-map iframe {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-map iframe {
    height: 300px;
  }
}
*/

/* footer */
 footer.footer {
  background-color: #000 !important;
}
.footer {
  background-color: #000 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6vw;
}

.footer__container {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer__logo {
  flex: 1;
  text-align: left;
}

.footer__logo img {
  max-width: 100%;
  height: auto;
  max-height: 40px;
}

.footer__info {
  color: white;
  flex: 1;
  text-align: right;
}

.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer p {
  font-size: 0.8rem;
}

.footer a {
  color: #fff;
}
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__logo {
    flex: none;
    margin-bottom: 1rem;
  }

  .footer__info {
    flex: none;
  }
}
.footer__logo {
  cursor: pointer;
}
